name: govulncheck
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: 0 19 * * 5 

jobs:
  govulncheck:
    runs-on: ubuntu-latest
    name: Run govulncheck
    steps:
      - uses: actions/checkout@v6

      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          repo-checkout: false
          go-version-file: go.mod
          go-version-input: ""
          go-package: ./...
